html,
body {
  min-height: 100vh;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

mat-card {
  min-width: 300px;
  max-width: 600px;
  width: 100%;
}

.register-form {
  min-width: 100px;
  max-width: 600px;
  width: 100%;
}

.register-full-width {
  width: 100%;
}

.register-small-width {
  width: 60%;
}

.register-form .mat-label {
  color: #ff8e3c;
}


.save-button {
  background-color: #ff8e3c;
  color: white;
  /* width: 120px;
  height: 30px; */
  line-height: 24px;
  border: 0;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
}


.details-button {
  text-decoration: none;
  background-color: white;
  color: black;
  border: 1px solid #ff8e3c;
  line-height: 24px;
}

.add-button {
  text-decoration: none;
  background-color: white;
  color: #ff8e3c;
  border: none;
}

.remove-button {
  text-decoration: none;
  background-color: #f8f5f2;
  color: #ff8e3c;
  border: none;
}


.profesional-card {
  background-color: #f8f5f2;
  width: 85%;
  margin: .5em;
  border-radius: 15px;
  margin-bottom: 15px;
  min-width: 200px;
  max-width: 250px;
}

.input-file-label {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #ff8e3c;
  font-size: 14px;
  color: #fff;
}

.input-file {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 8px;
  font-size: 14px;
  color: #b8b8b8;
}
