html,
body {
	min-height: 100vh;
}

a{
    text-decoration: none;
    color: white;
}

.footer 
 {
	background-color: #ff8e3c;
	color: white;
}

a:hover,
a:active {
	color: lightgray;
}


.navigation-footer-items{
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
