html,
body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: #000;
}

.footer {
  background-color: #FCECC9;
  color: #000;
}

a:hover,
a:active {
  color: #e16162;
}


.navigation-footer-items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 300px;
  text-shadow: 1px 1px 2px #e16162;
}

.cintilla {
  display: flex;
  justify-content: center;
}

.img {
  margin-top: 10px;
  padding: 0 10px;
  filter: drop-shadow(1px 1px 2px #e16162);

}

.grid-item {
  padding: 10px;
}

.grid-item:hover {
  cursor: pointer;
  color: #e16162;
}

