<p>password-reset works!</p>
<section class="signup-form">
    <mat-card  class="box mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <form  class="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="newPasswordGroup">
        <mat-card-header>
          <mat-card-title>Restablecimiento de contraseña</mat-card-title>
        </mat-card-header>
        <mat-form-field class="login-full-width">
            <input 
                type="password" 
                matInput 
                placeholder="Ingresa la nueva contraseña" 
                name="newPassword"
                autocomplete="off"
                minlength="8"
                required
                formControlName="newPassword"
                pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,}$">
                <mat-error>
                  <div *ngIf="f.newPassword.errors">
                    <div *ngIf="f.newPassword.errors.pattern">
                      Debe tener al menos 8 caracteres e incluir mayúsculas, minúsculas, números y símbolos.
                    </div>
                    <div *ngIf="f.newPassword.errors.required">Campo obligatorio.</div>
                  </div>
                </mat-error>
        </mat-form-field>
        <mat-form-field  class="login-full-width" hintLabel="Las contraseñas deben coincidir.">
            <input 
                type="password" 
                matInput 
                placeholder="Repite la contraseña" 
                name="confirmNewPassword" 
                autocomplete="off"
                minlength="8"
                required
                formControlName="confirmNewPassword"
                pattern="^(?=.*\d)(?=.*[\u0021-\u002b\u003c-\u0040])(?=.*[A-Z])(?=.*[a-z])\S{8,}$">
                <mat-error>
                  <div *ngIf="f.confirmNewPassword.errors">
                    <div *ngIf="f.confirmNewPassword.errors.passwordMatch">Las contraseñas no son iguales.</div>
                    <div *ngIf="f.confirmNewPassword.errors.pattern">
                      Debe tener al menos 8 caracteres e incluir mayúsculas, minúsculas, números y símbolos.
                    </div>
                    <div *ngIf="f.confirmNewPassword.errors.required">Campo obligatorio.</div>
                  </div>
                </mat-error>
              </mat-form-field>
              <mat-card-actions>
          <button class="new-password-button"
            type="submit" 
            mat-raised-button 
            color="primary"
            (click)="onSubmit()">
            Entrar
        </button>
        </mat-card-actions>
    </form>
    </mat-card>
  </section>