<section class="signup-form">
  <mat-card  class="box mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <form  class="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="loginForm">
      <mat-card-header>
        <mat-card-title>Ingresar</mat-card-title>
      </mat-card-header>
      <mat-form-field class="login-full-width">
          <input 
              type="text" 
              matInput 
              placeholder="Nombre de usuario" 
              name="email"
              required
              formControlName="email">
              <mat-error>No debe ser nulo</mat-error>
      </mat-form-field>
      <mat-form-field  class="login-full-width" hintLabel="Debe contener al menos 4 caracteres.">
          <input 
              type="password" 
              matInput 
              placeholder="Contraseña" 
              name="password" 
              autocomplete="off"
              minlength="4"
              required
              formControlName="password">
              <mat-error>Debe contener al menos 4 caracteres.</mat-error>
      </mat-form-field>
      <mat-card-actions>
        <button class="login-button"
          type="submit" 
          mat-raised-button 
          color="primary"
          (click)="onSubmit()">
          Entrar
      </button>
      </mat-card-actions>
      
  </form>

  </mat-card>
  
</section>