<div class="container">
      <!-- Main -->
      <div fxLayout="row" style="height: 200px">
        <div class="columnOne-back" fxLayout="column"  fxLayoutAlign="center center">
                  <h2>
                      Encuentra a un <span style="color:#E57A44">profesional</span>
                  </h2>
                  <p class="sub-title">Busca en nuestro catalogo de personal verificado y calificado para las tareas necesarias.</p>
      </div>
      </div> 
      <div fxLayout="row bar-low" >
        <div class="rectanguloOneLow" ></div>
        <div class="rectanguloTwoLow" ></div>
        <div class="rectanguloThreeLow" ></div>
        <div class="rectanguloFourLow" ></div>
      </div>
</div>
