<section class="signup-form">
    <mat-card  class="box mat-elevation-z8" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <form  class="login-form" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" [formGroup]="emailRecoveryForm">
        <mat-card-header>
          <mat-card-title>Recuperación de contraseña</mat-card-title>
        </mat-card-header>
        <mat-form-field class="login-full-width">
            <input 
                type="text" 
                matInput 
                placeholder="Ingresa tu correo electrónico" 
                name="email"
                required
                formControlName="email">
                <mat-error *ngIf="submitted">No debe ser nulo</mat-error>
        </mat-form-field>
        <caption *ngIf="submitted" class="mat-caption" style="color:rgba(109, 109, 109, 0.54);">{{emailMessage}}</caption>
        <mat-card-actions>
          <button class="recovery-button"
            type="submit" 
            mat-raised-button 
            color="primary"
            (click)="onSubmit()">
            Enviar
        </button>
        </mat-card-actions>
    </form>
    </mat-card>
  </section>