<div class="container">
        <div>
          <div fxLayout="row">
            <!-- Main -->
            <div  fxLayout="row wrap">
                <div class="column-back" fxFlexOrder="1" fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="50"  fxLayoutAlign="center center">
                    <img  
                    class="img-md-medium c" 
                    mat-card-image src="{{ imageVerified }}" 
                    alt="Busca a los profesionales">
                </div>
              <div class="columnOne-back" fxFlexOrder="1" fxLayout="column" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="50"  fxLayoutAlign="center center">
                <h1> <mat-icon>star</mat-icon>Profesionales <span  class="red">verificados</span> o <span  class="red">recomendados</span> y listos para darlo todo en el trabajo </h1>
                        <p class="sub"> 
                            ¿Preocupado por encontrar un buen profesionista? <span  class="red">Confía en nosotros</span>. 
                        </p>
                          <div fxLayout="row" fxFlex="50px"fxLayoutAlign="center center">
                           <mat-icon>arrow_right_alt</mat-icon> <a href="/listado">Explora nuestra lista de profesionales.</a>
                        </div>
            </div>          
            </div>
          </div>
        </div>
    </div>
