.mat-sidenav-container, .mat-sidenav-content{ 
    height:100%;
	background-color: #FCECC9;
}

.mat-sidenav{
    width: 250px;
}

.mat-nav-list {
	background-color: #FCECC9;
}

.menu-label h2{
	margin-left:15px;
	font-size: 1.5em;
	color: #000000;
}

a {
	text-decoration: none;
}

a:hover,
a:active {
	color: #eff0f3;
}

.navigation-items {
	list-style: none;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.icon {
	display: inline-block;
	height: 30px;
	margin: 0 auto;
	padding-right: 15px;
	text-align: center;
	vertical-align: middle;
	width: 15%;
	color: #ff8e3c;
}

.label {
	display: inline-block;
	line-height: 30px;
	margin: 0;
	width: 85%;
	color: black;
}

.explore-button {
	background-color: #ff8e3c;
	color: white;
	font-weight: 400;
	width: 120px;
	height: 35px;
	line-height: 24px;
	border-color: #ff8e3c;
	border-style: solid;
	border-radius: 10px;
	margin-top: 30px;
	margin-bottom: 10px;
	margin-left: 60px;
  }