<div class="container">
      <div fxLayout="row">
        <!-- Main -->
        <div  fxLayout="row wrap" style="height: 600px">
          <div class="columnOne-back" fxFlexOrder="1" fxLayout="column" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="50"  fxLayoutAlign="center center">
            <h1>Conectamos a personas profesionales para todos tus <span class="red">proyectos de construcción, 
              reparación y/o mejora y de todo tipo de proyectos, servicios o productos.</span></h1>
                    <h2>
                        Encuentra profesionales verificados por el Banco de Empleos o recomendados por empleados de las empresas asociadas. Siéntete seguro en todo momento.
                    </h2>
                      <div fxLayout="row" fxFlex="50px"fxLayoutAlign="center center">
                        <button class="explore-button" mat-button routerLink="/listado">Explorar servicios <mat-icon>arrow_right_alt</mat-icon></button>
                    </div>
        </div>
        <div class="column-back" fxFlexOrder="1" fxLayout="row" fxLayout.xs="column" fxFlex.xs="100" fxFlex.gt-xs="50"  fxLayoutAlign="center center">
            <img  
            class="img-md-medium" 
            mat-card-image src="{{ imageConstruction }}"  
            alt="Busca a los profesionales">

            <div fxLayout="row bar-up" >
              <div class="rectanguloOne" ></div>
              <div class="rectanguloTwo" ></div>
              <div class="rectanguloThree" ></div>
              <div class="rectanguloFour" ></div>
            </div>
        </div>
        </div> 
      </div>
  
        <div fxLayout="row bar-low" >
          <div class="rectanguloOneLow" ></div>
          <div class="rectanguloTwoLow" ></div>
          <div class="rectanguloThreeLow" ></div>
          <div class="rectanguloFourLow" ></div>
        </div>
 


</div>