
.card {
    margin-bottom: 30px;
    margin-bottom: 20px;
}

.card .mat-card-title {
    padding: 5px;
    margin-bottom: 15px;
    line-height: 25pt;
}

.card .mat-card-subtitle {
    color: black;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 15px;
    line-height: 15pt;
}

.img-md-medium {
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .explore-button {
    background-color: #ff8e3c;
    color: white;
    font-weight: 400;
    width: 180px;
    height: 35px;
    line-height: 24px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .explore-button:hover {
    background-color: white;
    color: #ff8e3c;
  }

  .red{
    color: #ff8e3c;
  }
