
.container{
  margin-bottom: 20px;
}


h1 {
  font-weight: 500;
    padding: 5px;
    margin: 15px;
    line-height: 25pt;
    text-align: center;
}

h2 {
   text-align: center;
   font-size: 18px; 
   font-weight: 400;
    color: black;
    padding: 5px;
    margin: 20px;
    line-height: 15pt;
}

.img-md-medium {
    margin-top: 10px;
    width: 100%;
    max-width: 500px;
    height: auto;
  }

  .explore-button {
    background-color: #ff8e3c;
    color: white;
    font-weight: 400;
    width: 180px;
    height: 35px;
    line-height: 24px;
    border-style: solid;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .explore-button:hover {
    background-color: white;
    color: #ff8e3c;
  }

  .red{
    color: #ff8e3c;
  }
  
  .column-back{
    background-color: #FCECC9;
  }

  .columnOne-back{
    background-color: #F8F8F8;
  }