<mat-toolbar class="toolbar-theme">
    <div fxHide.gt-xs>
        <button class="material-icons color_white" (click)="onToggleSidenav()">
            <mat-icon >menu</mat-icon>
        </button>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.gt-xs>
        <a  class="logo" routerLink="/home">JcE</a>
    </div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
        <div fxFlex fxLayout fxLayoutAlign="flex-start">
            <a class="logo" routerLink="/home">Jalisco con Empleo</a>
        </div>
            <ul  fxLayout fxLayoutGap="20px" class="navigation-items" fxHide.xs>
                <!-- <li *ngIf="!isAuth"><a routerLink="/">Registro</a></li> -->
                <li *ngIf="isAuth"><a routerLink="/login">Ingresar</a></li>
                <li *ngIf="!isAuth"><a class="red-button" routerLink="/">Explorar</a></li>
                <li *ngIf="isAuth"><a routerLink="/register">Registrar profesional</a></li>
                <li *ngIf="isAuth"><a routerLink="/users">Tabla de usuarios</a></li>
                <li *ngIf="isAuth"><a routerLink="/" (click)="onLogout()">Salir</a></li>
            </ul>
    </div>
</mat-toolbar>