<h1 mat-dialog-title>Información general</h1>
<!-- <div mat-dialog-content>
  <p>
    ID de usuario: {{data.userInformation.id_user}}
  </p>
  <p>
    Nombre: {{data.userInformation.first_name}}
  </p>
  <p>
    Apellidos: {{data.userInformation.last_name}}
  </p>
</div>
<h3 mat-dialog-title>Rol y estatus</h3>
<div mat-dialog-content>

</div>
<h3 mat-dialog-title>Dirección del usuario</h3>
<div mat-dialog-content>

</div> -->
<mat-list>
  <div mat-subheader>Nombre del usuario</div>
  <mat-list-item><p>ID de usuario: {{data.userInformation.id_user}}</p></mat-list-item>  
  <mat-list-item><p>Nombre (completo): {{data.userInformation.first_name}} {{data.userInformation.last_name}}</p></mat-list-item>  
  <mat-divider></mat-divider>
  <div mat-subheader>Rol y estatus</div>
  <mat-list-item><p>Role: {{data.userInformation.role}}</p></mat-list-item>
  <mat-list-item><p>Estatus: {{data.userInformation.status}}</p></mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Dirección del usuario</div>
  <mat-list-item><p>Estado: {{data.userAddressInformation.state_name}}</p></mat-list-item>
  <mat-list-item><p>Municipio: {{data.userAddressInformation.municipality_name}}</p></mat-list-item>
  <mat-list-item><p>Dirección: {{data.userAddressInformation.street_name}} #{{data.userAddressInformation.main_number}}, {{data.userAddressInformation.colony_name}}</p></mat-list-item>
  <mat-list-item *ngIf="data.userAddressInformation.interior_number!=0"><p>Numero interior: #{{data.userAddressInformation.interior_number}}</p></mat-list-item>
</mat-list>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>