<div class="container" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex.gt-sm="25%" fxFlex.lt-md="25%" 
    fxLayoutAlign="center center" class="footer-main">

    <mat-card class="footer-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Jalisco con Empleo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          La App donde encontrarás personas profesionales verificadas por el Banco de Empleos o recomendados 
          por empleados de las empresas asociadas, para todo tipo de servicios o productos.
        </p>
      </mat-card-content>
    </mat-card>
  </div>

  <div fxFlex.gt-sm="25%" fxFlex.lt-md="25%" 
    fxLayoutAlign="center center" class="footer-main">
  
    <mat-card class="footer-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Paginas</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       <ul>
        <li><mat-icon>keyboard_arrow_right</mat-icon><a href="/home">Inicio</a></li>
        <li><mat-icon>keyboard_arrow_right</mat-icon><a href="/listado">Explorar</a></li>
        <li><mat-icon>keyboard_arrow_right</mat-icon><a href="/register">Registrar a un profesionista</a></li>
        <li><mat-icon>keyboard_arrow_right</mat-icon><a href="/login">Administrador</a></li>
       </ul>
      </mat-card-content>
    </mat-card>
  
  </div>
    <div fxFlex.gt-sm="25%" fxFlex.lt-md="25%" 
    fxLayoutAlign="center center" class="footer-main">
  
    <mat-card class="footer-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Contacto</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <ul>
        <li><mat-icon>location_on</mat-icon>Pichón #1147. Col. Morelos.44910 Guadalajara Jalisco, México.</li>
        <li><mat-icon> phone</mat-icon>33 3810 6569</li>
        <li><mat-icon> phone</mat-icon>33 2256 7830</li>
        <li><mat-icon> mail_outline</mat-icon>bancodeempleos@bdalimentos.org</li>
      </ul>
      </mat-card-content>
    </mat-card>
  </div>

    <div fxFlex.gt-sm="25%" fxFlex.lt-md="25%" 
    fxLayoutAlign="center center" class="footer-main">
    <mat-card class="footer-card mat-elevation-z0">
      <mat-card-header>
        <mat-card-title>Quiero un empleo</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          Ponte en contacto para conseguir un empleo.
        </p>
      </mat-card-content>
      <mat-card-actions align="center">
      <button class="explore-button" mat-button routerLink="/listado">Registrarme</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
