

.container {
  background-color: #373F51;
  width: 100%;
  display: flex;
}

.footer-main, 
.footer-card {
  
  min-height: 250px;
  background-color: #373F51;
  color: white;
  margin-bottom: 1px;
}

.mat-card .mat-card-title{
  margin-top: 10px;
  margin-bottom: 50px;
}

.mat-card .mat-card-content p{
justify-content: center;
font-size: 12px;

} 

.mat-card a {
  text-decoration: none;
  color: white;
}

.mat-card .mat-card-content  li {
  list-style: none;
  font-size: 12px;
  margin-bottom: 10px;
} 

.mat-card p{
  text-align: justify;
  margin: 15px;
}

.mat-icon{
  color: #ff8e3c;
  margin-right: 8px;
  vertical-align: middle;
}

.explore-button {
  background-color: #ff8e3c;
  color: white;
  font-weight: 400;
  width: 120px;
  height: 35px;
  line-height: 24px;
  border-color: #ff8e3c;
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 3px;
}