<div class="container">
    <h1>AVISO DE PRIVACIDAD</h1>
    <p class="parrafo">Este documento presente, sirve como un Aviso de Privacidad para la Ley 
        Federal de Protección de Datos Personales en Posesión de los Particulares 
        (LFPDPPP) y otras disposiciones emanadas o relacionadas a ella. Este Aviso 
        de Privacidad aplica sobre la información personal recopilada por la directriz
         de BAMX GUADALAJARA, y su rol como Entidad Responsable.</p>
    <h2>¿Con qué finalidad requerimos del uso de su información personal?</h2>
    <p class="parrafo">
        Los datos personales que recabamos de los profesionistas o prestadores de servicios, 
        los compartimos dentro del país con las visitantes a la app xxxxxxxxxxx con l
        a finalidad de contactarlos en caso de tener algún interés en sus productos o servicios.
    </p>
    <p class="parrafo">
        En el caso de los profesionistas o prestadores de servicios registrados por el 
        Banco de empleos los datos personales que recabamos los podremos utilizar para las siguientes 
        finalidades que son necesarias para el servicio que solicita:
    </p>
    <ul class="list">
      <li>
        Realización de estudio socioeconómico por medio de Trabajo Social.
      </li>
      <li>Verificación de la autenticidad de los datos proporcionados.</li>
      <li>Validación de referencias personales y laborales.</li>
      <li>Alta en aplicación de oferta de servicios.</li>
      <li>Creación de base de datos para el programa de becas, el cual se hace cargo de conseguir los fondos 
        para brindar el apoyo que solicita.</li>
    </ul>
    <p class="parrafo">No se recaban datos personales de los visitantes o usuarios de la app.  </p>
    <h2>¿Cómo puede acceder o rectificar su información personal, o cancelar y/o objetar sobre el uso que se le da a esta?</h2>
    <p class="parrafo">Usted tiene derecho a conocer qué datos personales tenemos de usted, para qué los utilizamos y las condiciones 
        del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en 
        caso de que esté desactualizada, sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros 
        registros o bases de datos cuando considere que la misma no está siendo utilizada adecuadamente (Cancelación); 
        así como oponerse al uso de sus datos personales para fines específicos (Oposición). Estos derechos se conocen 
        como derechos ARCO.</p>
    <p class="parrafo">Para el ejercicio de cualquiera de los derechos ARCO, usted deberá presentar la solicitud respectiva a través del 
        siguiente medio: </p>
    <p class="parrafo">Dirigir una carta al departamento de coordinación de Banco de Empleos, del Banco Diocesano de Alimentos 
        Guadalajara A.C. o al e-mail bempleos@bdalimentos.org:</p>
    <ul>
        <li class="circle">Exponer causa o motivo </li>
        <li class="circle">Escribir fecha de la realización</li>
        <li class="circle">Nombre y firma</li>
        <li class="circle">Identificación oficial (copia)</li>
        <li class="circle">Dirección de correo electrónico que fue originalmente utilizada cuando nos mandó su 
            información personal por primera vez</li>
    </ul>
    <p class="parrafo">Atenderemos su petición en un máximo de cinco días laborales y responderemos vía correo 
        electrónico con el estatus de su petición.</p>
    <p class="parrafo">Con relación al procedimiento y requisitos para el ejercicio de sus derechos ARCO, le informamos lo siguiente:</p>
    <ul>
        <li>A) ¿A través de qué medios pueden acreditar su identidad el titular y, en su caso, su representante, así como la personalidad de este último?</li>
        <li>Copia de su identificación personal (INE).</li>
        <li>B) ¿Qué información y/o documentación deberá contener la solicitud?</li>
        <li>Motivo o causa, nombre y firma, fecha de elaboración y copia de identificación.</li>
        <li>C) ¿En cuántos días le daremos respuesta a su solicitud?</li>
        <li>Se le dará una respuesta en un tiempo estimado de una semana; surtiendo efecto los cambios a partir 
            de la resolución de la misma.</li>
        <li>D) ¿Por qué medio le comunicaremos la respuesta a su solicitud?</li>
        <li>Vía telefónica.</li>
        <li>D) ¿En qué medios se pueden reproducir los datos personales que, en su caso, solicite?</li>
        <li>Documento impreso que será entregado de manera personal.</li>
        <li>E) Para mayor información sobre el procedimiento, ponemos a disposición los siguientes medios:
            Banco Diocesano Alimentos Guadalajara A.C.  Teléfono: 01 800 044 64 64 y (33) 38 10 65 95
            </li>
    </ul>
    <h2>¿Cómo puede conocer los cambios en este aviso de privacidad?</h2>
    <p class="parrafo">El presente aviso de privacidad puede sufrir modificaciones, cambios o actualizaciones derivadas de nuevos
         requerimientos legales; de nuestras propias necesidades por los productos o servicios que ofrecemos; 
         de nuestras prácticas de privacidad; de cambios en nuestro modelo de negocio, o por otras causas.</p>
    <p class="parrafo">Nos comprometemos a mantenerlo informado sobre los cambios que pueda sufrir el presente aviso de privacidad, 
        a través de: comunicación de manera verbal al acudir a su comunidad correspondiente.</p>
    
    <h2>Cookies y Web Beacons</h2>
    <p class="parrafo">La APP XXXXXXXXXXXXXXXXXXXX  requiere de la habilitación de cookies en su navegador web para la correcta funcionalidad
         de este sitio. Cookies son archivos de texto que se descargan automáticamente y se almacenan en la computadora del 
        usuario mientras se navega en un sitio web en particular, permitiendo así al servidor de Internet recordar cierta 
        información acerca del usuario, incluyendo sus preferencias al ver páginas en este servidor, así como los nombres 
        de usuario y contraseñas.
        Mientras que, Web Beacons son imágenes colocadas en un sitio web o correo electrónico, las cuales pueden ser
         utilizadas para monitorear el comportamiento del usuario, como puede ser el almacenamiento de información referente 
         a la dirección IP del usuario, tiempo de interacción en un sitio web en particular y el navegador web que se 
         utilizó, entre otras cosas.
        </p>
    <p class="parrafo">Le informamos que utilizamos cookies y web beacons para obtener le siguiente información:</p>
    <ul>
        <li>El tipo de navegador web y Sistema Operativo.</li>
        <li>Los sitios web que visita.</li>
        <li>Los enlaces que usted sigue.</li>
        <li>La dirección IP.</li>
        <li>El sitio web que visitó antes al nuestro.</li>
    </ul>
    <p class="parrafo">Desactivar el uso de cookies puede inhabilitar ciertas funciones de la APP https://xxxxxxx.xxx/  o no 
        permitir que se muestren en la forma que originalmente fueron diseñados. En caso de que se prefiera 
        eliminar la información mandada por las cookies de https://xxxxxxxxx.xxx/  , puede eliminar los estos 
        archivos al final de cada sesión dentro de su navegador. Información de interés sobre cómo hacer esto 
        puede ser consultada en los sitios principales de cada navegador.</p>
</div>
