/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
}

.mat-expansion-panel-header-description,
.mat-expansion-indicator::after {
  color: #ff8e3c;
}
