h1 {
    margin: 20px;
    text-align: center;
}

table {
    width: 75%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

table th {
    text-align: center; 
}

.mat-icon {
    padding: 5px;
    color:#ff8e3c;
}

.mat-icon:hover {
    color: gray;
}

.mat-card {
    margin-bottom: 30px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #f8f5f2;
}

:host ::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
}

.mat-card-subtitle {
    margin-bottom: 3px;
}

.mat-card-content {
    margin-bottom: 3px;
}

.mat-card-actions caption {
    color: #0000008A;
    font-size: 12px;
    margin-left: 15%;
    margin-bottom: 0;
}

.mat-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 0.5s;
}
