<!--Redesign of homepage
Author: Edmundo y Eder Garcia-->
<section class="home-container" fxFlex fxLayout="column" fxLayoutAlign="center center">

    <mat-card class="search-pro-card" fxLayout="column" fxLayoutAlign="center center">
       <mat-card-content>
           <p class="mat-body-strong">Encuentra a los profesionales</p>
            <mat-form-field class="form-search-bar" >
               <mat-label class="small-label">Buscar</mat-label>
                <input matInput="search" placeholder="Ex. Fontanero" >
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
        </mat-card-content>
    </mat-card>


    <mat-card class="presentation-card mat-elevation-z8" 
    fxLayout.xs="column"  fxLayoutAlign.xs="center center"
    fxLayout.gt-xs="column" fxLayoutAlign.gt-xs="start center"
    fxLayout.gt-sm="column" fxLayoutAlign.gt-sm="start center"
    fxLayout.gt-md="row" fxLayoutAlign.gt-md="space-around center">

        <img  
        class="img-md-medium" 
        mat-card-image src="{{ imageConstruction }}" 
        alt="Busca a los profesionales">


         <mat-card-content >
            <p  
            [ngClass.lt-md]="'font-class-small'"
            [ngClass.gt-sm]="{'font-class-medium': true}"
            [ngClass.gt-md]="{'font-class-large': true}">
                {{textPresentationCard}}
            </p>

        
          
            <mat-card-actions>
                <button class="explore-button" mat-button routerLink="/catalog">Conecta</button>
            </mat-card-actions>
        </mat-card-content>
    </mat-card>




    <mat-card class="reg-pro-card" fxLayout fxLayoutAlign="center center">
        <img class="img-xxs-small" mat-card-image src="\assets\img\undraw_coffee_break_h3uu_thumbnails.png">
        <mat-card-content>
            <p fxHide fxShow.xs class="mat-body-strong">Soy un profesional, ¿Cómo puedo suscribirme?</p>
            <p fxHide fxShow.gt-xs class="mat-subheading-2">Soy un profesional, ¿Cómo puedo suscribirme?</p>
            <button class="info-button" mat-button >Mas información</button>
        </mat-card-content>
    </mat-card>
</section>

