html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-body-strong_1 {
  font-size: 40px;
}

.mat-headlinel {
  font-size: 3px;
}

mat-card-content {
  text-align: center;
}

mat-card-actions {
  background-color: white;
  align-self: flex-end;
}

.presentation-card {
  width: 95%;
  margin: 1em;
  border-radius: 15px;
}

.search-pro-card {
  width: 100%;
  background-color: #eff0f3;
  padding: .25em;
  border-style: none;
}

.reg-pro-card {
  margin-top: 1em;
  width: 100%;
  background-color: #eff0f3;
}

.explore-card {
  background-color: white;
}

.img-xs-small {
  margin: 0;
  width: 100%;
  max-width: 250px;
  height: auto;
}

.img-sm-small {
  margin: 0;
  width: 100%;
  max-width: 400px;
  height: auto;
}

.img-md-medium {
  margin: 0;
  width: 100%;
  max-width: 600px;
  height: auto;
}

.img-xxs-small {
  margin: 0;
  background-color: rgba(255, 255, 255, .5);
  mix-blend-mode: multiply;
  width: 100%;
  max-width: 100px;
  height: auto;
}

.small-label {
  font-size: 16px;
}

.explore-button {
  background-color: white;
  color: #ff8e3c;
  font-weight: 600;
  width: 120px;
  height: 35px;
  line-height: 24px;
  border-color: #ff8e3c;
  border-style: solid;
  border-radius: 10px;
}

.explore-button:hover {
  background-color: #f3a167;
  color: #f8f5f2;
}

.info-button {
  background-color: #ff8e3c;
  color: white;
  width: 120px;
  height: 30px;
  line-height: 24px;
  border: 0;
  border-radius: 10px;
}

.font-class-small {
  font-size: 14px;
  font-weight: 500;
}

.font-class-medium {
  font-size: 20px;
  font-weight: 500;
}

.font-class-large {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 50px;
}


.verified-professionals-card{
  margin-top: 1em;
  width: 100%;
  background: none;
}

.verified-professionals-card img{
  margin-left: -5%;
}

#title-verified{

  margin-left: 15%;
  margin-top: -20%;
  text-align: left;

  width: 387px;
  height: 134px;
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  align-items: center;
  color: #000000;

}

#text-verified{
  margin-left: 15%;
  text-align: left;
  margin-top: auto;

  width: 387px;
  height: 69px;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;

  color: #000000;
}

#button-verified{
  border: none;
  background: none;
  width: 76px;
  height: 45px;
  margin-left: -55%;
  margin-top: 0%;
  cursor: pointer;
}

#button-verified-img{
  width: 76px;
  height: 45px;
}

#button-verified-text{
  margin-top: -16%;
  margin-left: 40%;
  text-align: left;

  width: 275px;
  height: 68px;
  font-family: 'Cabin';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: center;

  color: #000000;

}