html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.profesionals-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.profesional-card {
  background-color: #f8f5f2;
  width: 85%;
  margin: .5em;
  border-radius: 15px;
  margin-bottom: 15px;
  min-width: 200px;
  max-width: 400px;
}

.acordion {
  border-radius: 15px;
  width: 70%;
  min-width: 100px;
  max-width: 300px;

}

.example-header-image {
  background-image: url('https://rickandmortyapi.com/api/character/avatar/1.jpeg');
  background-size: cover;
  max-width: 100%;
}

.mat-card-title {
  font-size: calc(0.7em + 0.7vw);
  max-width: 100%;
}

.oficios {
  margin-top: 20px;

}

.mat-card-avatar {
  border-radius: 10%;
  flex-shrink: 0;
}

.mat-card-actions {
  text-align: center;
}

.label {
  padding-right: 15%;
}

.label-card {
  font-weight: 500;

}

.card-text {
  color: #2a2a2a;
  margin-right: 20px;
}


.details-button {
  text-decoration: none;
  color: #ff8e3c;
  line-height: 24px;
}

.mat-basic-chip {
  border-color: #ff8e3c;
  border-style: solid;
  border-width: 1px;
  color: #2a2a2a;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
}

button.oficios-button {
  background-color: white;
  border-color: #ff8e3c;
  border-style: solid;
  border-width: 1px;
  color: #2a2a2a;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
}

button.oficios-button:hover,
button.oficios-button-selected {
  background-color: #f3a167;
  color: #f8f5f2;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;
  border-color: #ff8e3c;
  border-style: solid;
  border-width: 1px;
}



.mat-chip-category {
  background-color: #f8f5f2;
}


.location-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.myGallery img {
  width: 100%;
}

.gallery-list {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
}

.gallery-list::-webkit-scrollbar {
  display: none;
}

.gallery-item {
  height: 240px;
  width: 100%;
  flex-shrink: 0;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.gallery-list {
  list-style: none;
  padding: 0;
  border: 5px solid #fff;
  border-radius: 4px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-viewport {
  max-width: 420px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.gallery-container,
.gallery-container::before,
.gallery-container::after {
  margin: 0;
  box-sizing: border-box;
}

.gallery-container {
  height: 100%;
}

.gallery-container {
  font-family: "Fredoka One", serif;
  display: flex;
  align-items: center;
  justify-content: center;;
}

