html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.profesionals-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 95%;  
}

.profesionals-list-titles{
  text-align: center;
}

.pro-list-titles{
  font-size: calc(1em + 1vw);
  font-weight: 600;
  margin-left: 20px;
}

.pro-description{
  margin-right: 1em;
  margin-left: 1em;
  font-size: calc(.6em + 1vw);
  font-weight: 400;
  width: 95%;
  line-height: 1.3em;
}


.profesional-card {
  background-color: #FFFFFF;
  width: calc(90% - 50px);
  border-radius: 15px;
  margin-bottom: 15px;
  min-width: 325px;
  max-width: 750px;
}

.acordion {
  margin-top: 10px;
  border-radius: 15px;
  width: 70%;
  min-width: 100px;
  max-width: 300px;

}

mat-card-title {
  margin-left: 25px;
  margin-bottom: 15px;
  font-size: calc(1em + 1vw);
  font-weight: 600;
  width: 100%;
  line-height: 1.2em;
}

.verificado{
  margin-top: 15px;
  margin-left: 25px;
  font-size: calc(.7em + 1vw);
  font-weight: 400;
  width: 100%;
  line-height: 1em;

}

mat-icon{
  margin-right: 10px;
  color: #E57A44;
}

.oficios {
  margin-top: 20px;

}

.avatar{
  margin-top: 0;
  margin-left: 0;
  margin-right: 15px;
 
}
.avatar-img{
  border-radius: 5%;
  height: calc(6em + 3vw);
  width: calc(6em + 3vw);
}

.mat-card-distintivo {
  margin-right: 10px;
  border-radius: 10%;
  height: calc(.5em + 1.3vw);
  width: calc(.5em + 1.3vw);
  flex-shrink: 0;
}

.mat-card-actions {
  text-align: center;
}


.details-button {
  text-decoration: none;
  color: #ff8e3c;
  line-height: 24px;
}

.label-card{
  margin-top: 1em;;
  margin-left: 0px;
  font-size: calc(.4em + 1.2vw);
  font-weight: 500;
  width: 100%;
}

.card-text{
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 35px;
  font-size: calc(.4em + 1.2vw);
  font-weight: 400;
  color: #667080;

}

.mat-basic-chip {
  border-color: #ff8e3c;
  border-style: solid;
  border-width: 1px;
  color: #2a2a2a;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
}

button.oficios-button {
  background-color: white;
  border-color: #E57A44;
  border-style: solid;
  border-width: 1px;
  color: #2a2a2a;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 2.5em;
  margin-top: 2em;
  font-size: 12px;
  cursor: pointer;
}

button.oficios-button:focus,
button.oficios-button:hover,
button.oficios-button-selected {
  background-color:  #FCECC9;
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
  margin-left: 2.5em;
  margin-top: 2em;
  font-size: 12px;
  cursor: pointer;
  border-color: #FCECC9;
  border-style: solid;
  border-width: 1px;
}




.mat-chip-category {
  background-color: #f8f5f2;
}


.location-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}

.myGallery {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.myGallery img {
  width: 100%;
}

.gallery-list {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior: contain;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  touch-action: pan-x;
  scroll-snap-type: x mandatory;
}

.gallery-list::-webkit-scrollbar {
  display: none;
}

.gallery-item {
  height: 240px;
  width: 100%;
  flex-shrink: 0;

  scroll-snap-align: start;
  scroll-snap-stop: always;
}

.gallery-list {
  list-style: none;
  padding: 0;
  border: 5px solid #fff;
  border-radius: 4px;
}

.gallery-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-viewport {
  max-width: 420px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.gallery-container,
.gallery-container::before,
.gallery-container::after {
  margin: 0;
  box-sizing: border-box;
}

.gallery-container {
  height: 100%;
}

.gallery-container {
  font-family: "Fredoka One", serif;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
}

.menu-professions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.chip-list{
  width: 100%;
}

.button-remove-chip-list {
  padding: 0;
  border-color: transparent;
  background-color: transparent;
}

.remove-icon-chip-list {
  position: absolute;
  right: 5px;
  top: 12.5%;
}

.button-delete-barSearch{
  background-color: white;
  border-color: #ff8e3c;
  border-style: solid;
  border-width: 1px;
  color: #2a2a2a;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
  cursor: pointer;  
}
