html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.profesionals-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.profesional-card {
  width: 85%;
  margin: .5em;
  border-radius: 15px;
  margin-bottom: 15px;
  min-width: 200px;
  max-width: 400px;
}

.acordion {
  border-radius: 15px;
  width: 70%;
  min-width: 100px;
  max-width: 300px;

}

.example-header-image {
  background-image: url('https://rickandmortyapi.com/api/character/avatar/1.jpeg');
  background-size: cover;
  max-width: 100%;
}

.mat-card-title {
  font-size: calc(0.7em + 0.7vw);
  max-width: 100%;
}

.oficios {
  margin-top: 20px;

}

.mat-card-avatar {
  border-radius: 10%;
  flex-shrink: 0;
}

.mat-card-actions {
  text-align: center;
}

.label {
  padding-right: 15%;
}


.details-button {
  text-decoration: none;
  color: #ff8e3c;
  line-height: 24px;
}

.mat-basic-chip {
  border-color: #ff8e3c;
  border-style: solid;
  border-width: 1px;
  color: #2a2a2a;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 5px;
  font-size: 12px;
}
